fastapi
uvicorn
psycopg2-binary
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests
apscheduler
openpyxl
xlrd==2.0.1
pandas
numpy
google-cloud-bigquery
google-auth
google-cloud-bigquery-storage
pyarrow
db-dtypes
scikit-learn
pymssql
gspread
pulp
PyMuPDF
